/* Stylesheet for Zephyr PC */
/* Header */
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;

}
body {
	background-color: #485561;
}
#nzxt-video {
	position:fixed;
	top:0;
	left:0;
	width: 100%;
}
header {
    width: 1000px;
    margin: 0 auto;
}
nav {
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 99;
	background-color: black;
}
nav ul {
	height: 81px;
	width: 1000px;
	margin: 0 Auto;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
	align-items: center;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
}
nav a {
	text-decoration: none;
	color: #3da1ff;
	background-color: black;
	font-size: 30px;
	font-weight: bold;
}
.navBar a:hover {
	color: #F7C46F;
}
nav img {
	height: 75px;
	width: 300px;
	padding-top: 5px;
}
.btn a {
	text-decoration: none;
	color: white;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 350px;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: grey;
}
.slideshow-container .btn {
	position: absolute;
	top: 77%;
	left: 13.5%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
.slideshow-container .btn:hover {
	background-color: black;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
  /* The dots/bullets/indicators */
  .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  bottom: 40px;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Section */
section {
    display: flex;
    justify-content: space-around;
	background-color: #485561;
}
.brands {
	width: 1000px;
	margin: 0 auto;
	color: black;
	font-size: 30px;
	justify-content: center;
	font-weight: bold;
	background-color: #AB7A2B;
	position: relative
}
.logosFirst {
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding-top: 10px;
	background-color: white;
	position: relative
}
.logosSecond {
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding-top: 10px;
	background-color: white;
	position: relative
}
card img {
	background-color: black;
}
.cardFooter {
	padding: 8px;
}
/* Support Banner */
.SupportBanner img {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	position: relative
}
/* Section Banner Titles*/
.bannerInfo {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	color: black;
	background-color: #F7C46F;
}
/* Section Banner */
.bannerTwo {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

/* Footer */
footer {
    border: 1px dotted black;
	position: relative;
	width: 1000px;
	height: 175px;
	margin: 0 auto;
	background-color: black;
}
.footer-wrap {
	width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
	height: 175px;
	color: white;
	background-color: black;
	font-size: 18px;
}

.footer-wrap ul {
    list-style-type: none;
	padding-top: 25px;
	background-color: black;
	font-size: 18px;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
}
.pages a {
	padding-left: 45px;
}
.footer-wrap a {
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.pages a:hover {
	color: #F7C46F;
}
.policies a:hover {
	color: #F7C46F;
}
.social img {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: space-around;
	color: black;
}
.pages {
	border: 1px solid black;
}
.footerNotes {
	padding: 25px;
	background-color: black;
	padding-top: 50px;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
}
.social {
	display: flex;
	width: 200px;
	justify-content: space-around;
	position: absolute;
	bottom:5px;
	left:5px;
	background-color: black;
	padding-top: 20px;
}
.cardFooter {
	padding-top: 15px;
	background-color: black;
}
.cardFooter img {
	background-color: black;
	height: 100px;
	width: 200px;
	padding-top: 25px;
}

/* Service Page */
.buildTitle {
	width:1000px;
	height: 75px;
	margin: 0 Auto;
	margin-top: 81px;
	font-size: 40px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #AB7A2B;
	text-align: center;

}
.PCBuildBanner img {
	width: 100%;
	margin: 0 Auto;
	display: flex;
	background-color:#485561;
}
.serviceTitle {
	width: 1000px;
	height: 75px;
	margin: 0 Auto;
	background-color: #AB7A2B;
	font-size: 40px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 2px;
	text-align: center;
}
p {
	font-size: 15px;
	text-align: center;
}
.supportTop {
	width: 1000px;
	height: 334px;
	display: flex;
	margin: 0 Auto;
}
.serviceFeatures {
	background-color: white;
}
.serviceFeatures img {
	width: 1000px;
	display: flex;
	margin: 0 Auto;
}
/* About Us Page */
.AboutUsBanner img {
	height: 400px;
	margin: 0 Auto;
	margin-top: 81px;
	display: flex;
}
.WhoWeAreBanner img {
	margin: 0 Auto;
	display: flex;
	height: 350px;
}
.MissionBanner {
	height: 350px;
}
/* Pillars */
.pillars {
	display: flex;
	width: 1000px;
	margin: 0 Auto;
}
.container1 {
	position: relative;
	width: 34%;
}
.container1 p {
	font-size: 18px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.container2 {
	position: relative;
	width: 34%;
}
.container2 p {
	font-size: 18px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.container3 {
	position: relative;
	width: 34%;
}
.container3 p {
	font-size: 18px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.image {
	top: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	height: Auto;
}
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}
.overlay ul {
	font-family: Arial, Helvetica, sans-serif;
}
.container1:hover .overlay {
  height: 100%;
}
.container2:hover .overlay {
  height: 100%;
}
.container3:hover .overlay {
  height: 100%;
}

.text {
	width: 80%;
	color: white;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pillars {
	display: flex;
}
.header {
	color: white;
}
h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
}
.pillarsH {
	padding-bottom: 10px;
	width: 1000px;
	background-color: #AB7A2B;
	margin: 0 Auto;
}
/* contact us page */
.container {
	margin: 0 Auto;
	border: 1px solid white;
	width: 1000px;
	height: 570px;
	margin-top: 86px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-around;
	border-radius: 5px;
	background-color: #f2f2f2;
}
.contact {
	width: 580px;
	height: 500.5px;
	margin: 10px 0px 10px 10px;
}
.mapHours {
	width: 600px;
	height: 445px;
	margin: 65px 10px 10px 0px;
}
.contactH {
	padding: 0px;
	text-align: left;
	padding-bottom: 10px;
	font-size: 35px;
}
.hours {
	width: 491.5px;
	height: 175px;
	display: flex;
	justify-content: space-between;
}
.map {
	width: 491px;
	height: 267px;
	margin-top: 1px;
}
.store {
	width: 50%;
	height:99%;
	margin: 1px;
}
.location {
	width: 50%;
	height:99%;
	margin: 1px;
}
.address {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 4px;
	font-size: 15px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 4px;
	padding-top: 4px;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 6px;
	padding-top: 8px;
}
.storehours {
	font-size: 15px;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}
.hoursL {
	display: flex;
	justify-content: space-between;
	padding-left: 6px;
}
.time {
	width: 130px;
	margin-left: 15px;
	text-align: left;
}
/* Style inputs, select elements and text areas */
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}
/* Style the label to display next to the inputs */
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
/* Style the submit button */
input[type=submit] {
	background-color: #0449aa;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	font-size: 15px;
}
/* Hover on button */
input[type=submit]:hover {
	background-color: #8CC8FF;
	color: black;
	font-weight: bold;
}
/* Style the container */
.contact {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 0px 20px 20px 20px;
}
/* Floating column for labels: 25% width */
.col-35 {
	float: left;
	width: 35%;
	margin-top: 6px;
}
/* Floating column for inputs: 75% width */
.col-65 {
	float: left;
	width: 65%;
	margin-top: 6px;
}
/* clear floats after the colums */
.row:after {
	content: "";
	display: table;
	clear: both;
}
